<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Meme Generator</title>
    <script>
        setTimeout(function() {
            window.location.reload(1);
        }, 30000);
    </script>
</head>
<style>
        body {
    background: black;
    color: white;
}
</style>
<body>
    <h1>Random Meme Generator</h1>
    <img src="{{ url_for('random_meme') }}" alt="Random Meme">
</body>
</html>
